body {
  background: linear-gradient(90deg, #020024 0%, #020214 35%, #0d3841 90%);
  color: #fff;
  font-family: Arial, sans-serif;
}

h1 {
  color: #e4dcdc;
}

h3 {
  color: #e8dddd;
}

textarea {
  width: 90%;
  max-width: 400px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #7eb049;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

.notes-container {
  display: flex; /* Flexbox for side-by-side display */
  justify-content: flex-end; /* Center notes horizontally */
  gap: 20px; /* Space between each note */
  margin-top: 20px;
}

.note-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%; /* Each note takes 30% of the width */
}

.note-box p {
  font-size: 16px;
  color: #000000;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
